<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-header-bar class="bar bar-header">
  <h1 class="title">Teerleer</h1>
  <button class="button icon ion-ios-close-outline" ng-click="signOut()"></button>
</ion-header-bar>

<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Comptes" icon="icon ion-navicon-round" href="#/tab/comptes">
    <ion-nav-view name="tab-comptes"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="Objectif" icon="icon ion-pinpoint" href="#/tab/objectif">
    <ion-nav-view name="tab-objectif"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Paramètres" icon="icon ion-gear-b" href="#/tab/parametre">
    <ion-nav-view name="tab-parametre"></ion-nav-view>
  </ion-tab>

</ion-tabs>
