<ion-view title="Teerleer">
  <ion-header-bar class="bar bar-header">
    <h1 class="title">Teerleer</h1>
    <button class="button icon ion-plus"></button>
  </ion-header-bar>

  <!-- Contenu -->
  <ion-content class="padding has-header">
    <div class="list card">
      <a class="item item-avatar" href="#" ui-sref="tab.comptes">
        <img src="img/xavier.png">
        <h2>Xavier</h2>
        <p>Propriétaire</p>
      </a>

      <a class="item item-icon-left" href="#" ui-sref="tab.comptes">
        <i class="icon ion-pound"></i>
        <h2>Auriane</h2>
        <p>Teerleeree</p>
      </a>
    </div>
  </ion-content>
</ion-view>
